<div class="container">
  <!--navbar-->
  <app-navigation-bar>
      <app-navigation-bar-link *ngIf="active">Virtual Machines</app-navigation-bar-link>
      <app-navigation-bar-link *ngIf="active">Response Metrics</app-navigation-bar-link>
      <app-navigation-bar-link *ngIf="active">Top Fail</app-navigation-bar-link>
      <app-navigation-bar-link *ngIf="active">Logout</app-navigation-bar-link>
  </app-navigation-bar>
  <!--page-->
  <div class="d-flex justify-content-center p-3">
    <router-outlet></router-outlet>
  </div>
</div>
