<span *ngIf="!showCpu">
  <div class="chart" *ngIf="cpuData">
    <app-simple-line-chart [(chartData)]="cpuData" [name]="'CPU'" [(period)]="period"></app-simple-line-chart>
  </div>
</span>
<span *ngIf="!showMemmory">
  <div class="chart" *ngIf="memData">
    <app-simple-line-chart [(chartData)]="memData" [name]="'Memory'" [(period)]="period"></app-simple-line-chart>
  </div>
</span>
<span *ngIf="!printMode">
  <div class="d-flex justify-content-around">
    <div class="mySelect" style="text-align: center">
      <app-multy-select [(msList)]="srvList" [(title)]="msTitle" (changeSelection)="changeSelection($event)">
      </app-multy-select>
    </div>
    <div class="mySelect" style="text-align: center">
      <app-simple-select [(selections)]="periods" [(title)]="simpleSelectionTitle"
        (changeSelection)="changePeriod($event)"></app-simple-select>
    </div>
  </div>
</span>
<!--spinner-->
<ngx-spinner name='vmspiner' [fullScreen]="false" type="square-jelly-box"></ngx-spinner>