<span *ngIf="!showErrors">
    <div id="chart"></div>
</span>
<span *ngIf="!printMode">
    <div class="d-flex justify-content-around">
        <app-our-data-picker (changeSelection)="changeDate($event)"></app-our-data-picker>
        <app-multy-select [(msList)]="params.wsList" [(title)]="wsSelectTitle"
            (changeSelection)="changeWsSelection($event)"></app-multy-select>
        <app-multy-select [(msList)]="params.apiList" [(title)]="apiSelectTitle"
            (changeSelection)="changeApiSelection($event)"></app-multy-select>
        <app-simple-select [(selections)]="topsList" [(title)]="topSelectionTitle"
            (changeSelection)="changeTop($event)"></app-simple-select>
    </div>
    <div>
        <app-range-slider></app-range-slider>
    </div>
</span>